*{padding: 0; margin: auto;}
.wrapper_area{
	height: 1080px;
	background-color: white;
	width: auto;
}
#header_area{
	height: 200px;
	background-color: #898989;
	padding: 30px;
}
#header_area img{
	height: 200px;
	width: 200px;
	float: left;
}
#header_area h1{
	float: right;
	margin-right: 750px;
	margin-top: 70px;
	font-size: 50px;
	color: white;
}
.menu{
	background-color: #D7D7D7;
}
.menu ul li{
	position: relative;
	display: inline-block;
	padding: 30px 142px;
}
.menu ul li a{
	text-decoration: none;
	color: #636363;
	font-size: 20px;
}
.menu ul li:hover{
	background-color: white;	
}
.menu ul input{
   position: relative;
 }
 #marquee h1{
 	background-color: #898989;
 	color: white;
 }
 .cleft{
 	float: left;
 	height: 300px;
 	width: 950px; 
 	background-color: #D7D7D7;
 }
 .cleft img{
 	height: 150px;
 	width: 150px;
 	margin-left: 20px;
 }
 .cright{
 	float: right;
 	height: 300px;
 	width: 950px;
    background-color: #D7D7D7;
 }
 .cright img{
    height: 130px;
    width: 130px;
    margin-left: 30px;
 }
 .cleft li{
 	margin-left: 50px;
 	margin-top: 10px;
 }
 .cleft h2{
 	margin-left: 50px;
 }
 .cright p{
 	margin-top: 20px;
 	margin-left: 20px;
 }
 .cright h2{
 	margin-top: 10px;
 	margin-left: 20px;
 }
 #cover img{
 	width: 1904px;
 }
 #footer{
 	height: 300px;
 	width: auto;
 	background-color: #D7D7D7;
 	margin-top: 50000px;
 }
 .footer{
 	height: 80px;
 	background-color: #898989;
 	margin-top: 377px;
 }
 .footer h3{
    font-size: 12px;
    margin-left: 820px;
    padding: 30px;
 } 
 .footer img{
 	height: 30px;
 	width: 30px;
 	float: right;
 	margin-right: 50px;
 	margin-bottom: 100px;
 	padding: 5px;
 	margin-top: 10px;
 }
 .About p{
 	font-size: 45px;
 	background-color: #898989;
 	color: white; 
 }
 .About img{
 	margin-top: 7px;
 	width: 1904px; 
 	height: 790px;
 }	
 #footer2{
 	height: 300px;
 	width: auto;
 	background-color: #D7D7D7;
 	margin-top: 60000px;
 }
 .footer2{
 	height: 80px;
 	background-color: #898989;
 	margin-top: 377px;
 }
 .footer2 h3{
    font-size: 12px;
    margin-left: 820px;
    padding: 30px;
 } 
 .footer2 img{
 	height: 30px;
 	width: 30px;
 	float: right;
 	margin-right: 50px;
 	margin-bottom: 100px;
 	padding: 5px;
 	margin-top: 10px;
 }
 .read_more p{
 	font-size: 45px;
 	background-color: #898989;
 	color: white; 
 }
 .read_more img{
 	margin-top: 7px;
 	width: 1904px; 
 	height: 790px;
 }	